<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
<head>
    <title>Cadastro de títulos</title>
</head>
    <section layout:fragment="conteudo">
        <form method="POST" action="/titulos" th:object="${titulo}">
            
            <div  layout:insert="Mensagens"></div>

			 <div class="container">
                <div class="form-group" th:classappend="${#fields.hasErrors('valor')} ? .invalid">
                    <header>
                        <div class="clearfix">
                        	<h2 class="title-custom">Novo título</h2>
                        	<a class="btn btn-link a-custom" href="/titulos">Listar todos títulos</a>
                        </div>
                    </header>
                    <input type="hidden" th:field="*{codigo}" />

                    <div class="form-group row" th:classappend="${#fields.hasErrors('descricao')} ? .invalid">
                        <label for="description" class="col-sm-1 control-label">Descrição</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="description" th:field="*{descricao}" placeholder="Descrição"/>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('dataVencimento')} ? .invalid">
                        <label for="dueDate" class="col-sm-1 control-label">Data de vencimento</label>
                        <div class="col-sm-2 input-group date">
                            <input type="Date" class="form-control datepicker" id="dueDate" th:field="*{dataVencimento}"
								data-provide="datapicker"
                            	data-date-format="dd/MM/yyyy"
                            	data-date-language="pt-BR"
                            	data-date-autoclose="true" 
                            	data-date-today-highlight="true"
                            />
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('valor')} ? .invalid">
                        <label for="value" class="col-sm-1 control-label">Valor</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control js-currency" id="value" th:field="*{valor}" placeholder="Valor"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="status" class="col-sm-1 control-label">Status</label>
                    <div class="col-sm-2">
                    <select class="form-control" id="status" th:field="*{status}">
                        <option th:each="status : ${todosStatusTitulo}" th:value="${status}" th:text="${status.descricao}"></option>
                    </select>
                    </div>
                </div>
                <div class="offset-md-1">
                    <button type="submit" class="col-sm-1 btn btn-primary">Save</button>
                </div>
            </div>
            </div>
        </form>
    </section>
</html>