<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand">
            <img src="/images/logo-gft.png" style="width: 32px; height: 32px;" alt="GFT internship academy">
            GFT | Crud &copy;
        </a>
          <form class="form-inline" method="GET">
		    <input class="form-control mr-sm-2" autofocus="autofocus" type="search" placeholder="Pesquisar por título" aria-label="Search">
	    	<button class="btn btn-outline-info my-2 my-sm-0" type="submit">
	    		<span class="oi oi-magnifying-glass"></span>
	    		Pesquisar
	    	</button>
		  </form>
    </nav>

</html>