<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
<head>
    <title>Pesquisa de títulos</title>
</head>
   <section layout:fragment="conteudo">
        <div class="container card">
            <div class="table-responsive">
	            <header class="text-center">
	            	<h3>Pesquisa de títulos</h3>
	                <a class="btn btn-link a-custom" href="/titulos/novo">Criar novo</a>
	            </header>
	            <table class="table table-bordered table-striped">
	                <thead>
	                    <tr class="text-center">
	                        <th scope="col" class="text-center" title="n° identificador">#</th>
	                        <th scope="col">Descrição</th>
	                        <th scope="col">Data de vencimento</th>
	                        <th scope="col">Valor</th>
	                        <th scope="col">Status</th>
	                        <th scope="col">Ações</th>
	                    </tr>
	                </thead>
	                <tbody>
	              		<tr th:each="titulo : ${titulos}">
	                		<td class="text-center" th:text="${titulo.codigo}">1</td>
	                		<td th:text="${titulo.descricao}"></td>
	                		<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
	                		<td class="text-center" th:text="|R$ ${{titulo.valor}}|"></td>
	                		<td class="text-center">
	                			<span class="badge" th:text="${titulo.status.descricao}"
	                			 th:classappend="${titulo.Pending ? 'badge-warning' : 'badge-success'}">
	                			</span>
	                		</td>
	                		<td  class="text-center" style="width: 10%; padding: 4px;">
	                			<div style="display: flex; justify-content: space-around; align-items: center">
	                				<a class="btn btn-link" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}">
	                					<span class="oi oi-pencil btn btn-dark input-edit" title="Editar título"></span>
		                			</a>
		                			<form th:action="@{/titulos/{codigo}(codigo=${titulo.codigo})}" method="POST">
									 	<input type="submit" class="btn btn-danger input-custom" value="X" title="Excluir título?"/>
									</form>
									<a	class="btn btn-link js-atualizar-status"
									 href="#" th:if="${titulo.Pending}"
									 th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
										<span class="oi oi-task btn btn-success input-edit" title="Receber título?"></span>
									</a>
	                			</div>
	                		</td>
	                	</tr>
	                    <tr class="text-center">
	                        <td colspan="12" class="table-warning" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado!</td>
	                    </tr>
	                </tbody>
	            </table>
            </div>
        </div>
    </section>
</html>