<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
<head>
    <title>Pesquisa de títulos</title>
</head>
   <section layout:fragment="conteudo">
        <div class="container card">
            <header class="text-center">
                <h3>Pesquisa de títulos</h3>
                <a class="btn btn-link a-custom" href="/titulos/novo">Pesquisar títulos</a>
            </header>
            <table class="table table-bordered table-striped">
                <thead style="background-color: #fff;">
                    <tr class="text-center">
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Data de vencimento</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td colspan="12" class="table-warning">Nenhum título foi encontrado!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</html>