form .container{
	margin-top: 1rem;
	background-color: #f5f5f5;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 5px;
}
form .container header {
	margin: 1em 0;
}
form .alert, table, .card {
	margin-top: 1rem;
}
.container header {
	margin-top: 1rem;
}
.card {
	background-color: #f5f5f5;
}
.test{
	background-color:  red;;
}
.a-custom {
	float: right;
}
.title-custom {
	float: left;
}